body {
    background-image: url("../../public/images/endless-constellation.svg");
    /* background-color: white; */
    background-attachment: scroll;
    color: white;
    font-size: 16px;
    font-family: "Poppins";
}

.app {
    /* display: flex; */
    width: 100%;
}

.home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding-top: 100px;
}

.home > h1:first-of-type {
    font-size: 80px;
    position: relative;
    left: 0px;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes welcome {
    0% {top: 0px; left: -1000px};
    100% {top: 0px; left: 0px};

    /* 0%   {left:0px; top:0px;}
    25%  {left:400px; top:0px;}
    50%  {left:400px; top:400px;}
    75%  {left:0px; top:400px;}
    100% {left:0px; top:0px;} */
}

.home > h1:nth-of-type(2) {
    font-size: 80px;
    position: relative;
    right: -150px;
    animation-name: intro;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes intro {
    0% {top: 0px; right: -1500px};
    100% {top: 0px; right: -150px};
}

/* .hide {
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: black;
    height: 100%;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: hideAnimation 1.3s forwards;
}

@keyframes hideAnimation {
    0% { left: 0; }
    100% { left: -300px; }
}

.show {
    position: fixed;
    left: -300px;
    z-index: 1;
    background-color: black;
    height: 100%;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: showAnimation 1.3s forwards;
}

@keyframes showAnimation {
    0% { left: -300px; }
    100% { left: 0; }
} */

.toggle-nav-button:hover {
    transform: scale(2);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    gap: 10px;
}

/* .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
} */

/* .nav-container {
    visibility: hidden;
} */

.nav-container ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-container ul li {
    font-size: 28px;
    height: 40px;
    margin-bottom: 8px;
}

.nav-container a {
    text-decoration: none;
}

/* .nav-link:active {
    background-color: #535C91;
} */

.nav-link:hover {
    /* background-color: #535C91; */
    transform: scale(1.3);
    border-radius: 8px;
}

.code-profiles {
    position: fixed;
    top: 40px;
    right: 25px;
    animation-name: profiles;
    animation-delay: 0s;
    animation-duration: 3.5s;
}

@keyframes profiles {
    0% {top: -50px; right: 25px};
    55% {top: -50px; right: 25px;};
    100% {top: 40px; right: 25px;}
}


.code-profiles > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.code-profiles li {
    z-index: 1;
}

.code-profiles img:hover {
    transform: scale(1.5);
}

.about p {
    text-align: center;
    font-size: 24px;
}

#home, #about, #skills, #projects, #contacts {
    width: 100%;
}

.main {
    padding: 150px 10px;
    padding-right: 100px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.skills > h1 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.skills-container {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}

.skills-container > span:hover {
    transform: scale(1.2)
    
}

.projects > h1 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    gap: 20px;
}

.project-url-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    bottom: 5px;
}

.card {
    background-color: rgb(72, 70, 70)!important;
    /* box-shadow: 2px 2px 4px black, 0 0 2em lightblue, 0 0 0.4em darkblue!important; */
    color: white;
    z-index: -1;
    opacity: 1!important;
}

.card:hover {
    box-shadow: 2px 2px 4px black, 0 0 2em lightblue, 0 0 0.4em darkblue!important;
}

.card-button {
    background-color: #535C91!important;
    cursor: pointer;
}

.card-button:hover {
    transform: scale(1.3)!important;
}

#contacts > h1 {
    margin-top: 40px;
    margin-bottom: 30px!important;  
}

.contact-items:hover {
    transform: scale(1.3);
}

.contacts-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer {
    background-color: black;
    /* background-image: linear-gradient(95deg, black, grey)!important; */
    background-color: black;
    padding-top: 30px;
    height: 130px;
    width: 100%;
    font-weight: 100!important;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    bottom: 0px;
}   

.toggle-nav-button-mobile-view {
    visibility: hidden;
    z-index: 1;
}

@media (min-width: 1320px) {
    .hide {
        position: fixed;
        left: 0;
        z-index: 1;
        background-color: black;
        height: 100%;
        width: 14%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        animation: hideAnimation 1.3s forwards;
    }
    
    @keyframes hideAnimation {
        0% { left: 0; }
        100% { left: -300px; }
    }
    
    .show {
        position: fixed;
        left: -300px;
        z-index: 1;
        background-color: black;
        height: 100%;
        width: 14%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        animation: showAnimation 1.3s forwards;
    }
    
    @keyframes showAnimation {
        0% { left: -300px; }
        100% { left: 0; }
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
}

@media ((max-width: 1320px) and (min-width: 900px)) {
    .toggle-nav-button {
        visibility: hidden;
    }
    main {
        margin: 0 8%!important;
        padding: 20px!important;
        /* margin-top: 150px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        position: fixed;
        left: 0;
        z-index: 1;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 0;
        width: 100%;
        height: 10%;
        animation: none;
    }
    #home {
        padding: 200px;
    }
    .user {
        margin-left: 5px;
        width: 15%;
    }
    .nav-container {
        margin: 0;
        width: 80%;
    }
    .nav-container > ul {
        display: flex;
        flex-direction: row!important;
        justify-content: space-around;
    }
    .code-profiles {
        position: fixed;
        top: 14vh;
        left: 10px;
        animation: profiles-slide-right;
        animation-delay: 0s!important;
        animation-duration: 3.5s!important;
    }
    @keyframes profiles-slide-right {
        0% {top: 14vh; left: -150px};
        100% {top: 14vh; left: 10px;}
    }
    .code-profiles > ul {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 1fr; */
        gap: 20px;
    }
}

@media (max-width: 1040px) {
    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr; */
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .toggle-nav-button-mobile-view {
        visibility: visible;
    }
    .toggle-nav-button:first-of-type {
        visibility: hidden;
    }
    .toggle-nav-button {
        /* visibility: hidden; */
        z-index: 1;
    }
    main {
        margin: 0 8%!important;
        padding: 20px!important;
        /* margin-top: 150px; */
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }
    .navbar {
        position: fixed!important;
        left: 0!important;
        z-index: 1!important;
        background-color: black!important;
        /* position: absolute;  */
        width: 100%!important;
        height: 100%!important;
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        justify-content: flex-start!important;
        gap: 3em!important;
        animation: none!important;
    }
    .hide {
        visibility: visible!important;    /*actually classname should be show*/
    }
    .show {
        visibility: hidden!important;     /*actually classname should be hide*/
    }
    .nav-container {
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }
    .nav-container li {
        text-align: center!important;
    }
    .code-profiles {
        position: fixed!important;
        top: 14vh!important;
        left: 10px!important;
        animation: profiles-slide-right!important;
        animation-delay: 0s!important;
        animation-duration: 3.5s!important;
    }
    @keyframes profiles-slide-right {
        0% {
            top: 14vh!important;
            left: -150px!important
        };
        100% {
            top: 14vh!important;
            left: 10px!important;
        }
    }
    .code-profiles > ul {
        position: absolute!important;
        left: 0!important;
        display: flex!important;
        flex-direction: column!important;
    }
}

@media ((max-width: 720px) and (min-width: 300px)) {
    .home > h1 {
        font-size: 60px!important;
    }
    .projects-container {
        grid-template-columns: 1fr;
    }
    .projects-container > div {
        margin: 0 auto;
    }
}